.content {
  margin-left: 200px;
  margin-top: 60px;
  padding: 20px;
  background-color: #1a1a1a;
  min-height: 100vh;
  color: white;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'S-CoreDream-3Light', sans-serif;
}
