.navbarContainer{
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.navRight{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end; 
  gap: 1rem;
}

.textLogo{
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.iconLogo{
  display: none;
  color: red;
}

@media (max-width: 300px) {
  .textLogo{
    display: none; /* YOUNGCHA 없앰 */ 
  }
  .iconLogo{
    display: block; /* 로고 표시 */
  }
  .navRight{
    font-size: 0.8rem;
    margin-left: 0.1rem;
    gap: 0.2rem;
  }
}