.title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.cardList{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
  gap: 2rem;
}

.card{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.cardImg {
  width: 100%;
  aspect-ratio: 2 / 1;   
  object-fit: cover;
  border-radius: 10px;
  transition: filter 0.3s ease;
}
.cardImg:hover{
  filter: brightness(50%);
}

.cardLabel {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  color: white;
}