.sidebarContainer{
  background-color: #555;
  padding: 1rem 2rem;
}

.sidebarLink{
  display: block;
  margin: 0 auto 1rem;
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.sidebarLinkInner{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}